.App {
  text-align: center;
}
main {
  background-color: darkslateblue;
  padding: 30px;

  color: aqua;
}
section {
  display: flex;
  gap: 10px;
}
button {
  padding: 5px;
  background-color: aqua;
  border: none;
  border-radius: 6px;
  color: darkslateblue;
}
